# Fundamentos de pyhton
    * Variables
    * Operadores matemáticos
    * Operadores lógicos
    * Operadores de comparación
    * Condicionales
        - Simple
        - Compuestos
        - Anidados
        - Encadenados 
    * Ciclos
        - Finítos (For)    
        - Infinitos (While)
    * Funciones
    * Estructuras de datos
        - Caracteres
        - Enteros
        - Flotantes
        - Listas
        - Dicionarios 
        - Duplas
    * Fundamentos de POO

In [1]:
print("Epale")

Epale

In [2]:
# Variables
name = "Javier"

In [3]:
name

'Javier'

In [4]:
last_name = "Gonzalez"

In [5]:
# Operadores matematicos
suma = 2 + 2    
resta = 2 - 2
multiplicacion = 2 * 2
division = 2 / 2

In [1]:
number1 = 2
number2 = 3

In [2]:
suma = number1 + number2
resta = number1 - number2
multiplicacion = number1 * number2
division = number1 / number2

In [3]:
print(suma)
print(resta)

5
-1

In [4]:
print(f"El resultado de la suma es {suma}")
print(f"El resultado de la resta es {resta}")
print(f"El resultado de la multiplicacion es {multiplicacion}")
print(f"El resultado de la division es {division}")

El resultado de la suma es 5
El resultado de la resta es -1
El resultado de la multiplicacion es 6
El resultado de la division es 0.6666666666666666

In [5]:
# Operadores de comparacion
# Igual a ==
# Mayor que >
# Menor que <
# Mayor o igual que >=
# Menor o igual que <=
# Diferente de !=

In [6]:
3 > 2

True

In [7]:
3 != 3

False

In [8]:
number1 == number2

False

In [12]:
# condicionales 
print(number1)
print(number2)

if number1 > number2:
    print("number1 es mayor que number2")
    
else:
    print("number1 no es mayor que number2")

2
3
number1 no es mayor que number2

In [ ]:
# condicionales 
number1 = 18
number2 = 12

if number1 > number2:
    print("number1 es mayor que number2")
elif number1 < number2:
    print("number1 no es mayor que number2")
else:
    print("number1 es igual a number2")

2
3
number1 no es mayor que number2

In [16]:
# condicionales 
number1 = 18
number2 = 12

if number1 > number2:
    if number1 > 10: 
        print("number1 es mayor que number2")
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [17]:
# condicionales 
number1 = 18
number2 = 12

if (number1 > number2) and (number1 > 10):
    if number1 > 10: 
        print("number1 es mayor que number2")
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [18]:
# condicionales 
number1 = 18
number2 = 12

if number1 > number2:
    if number1 > 10: 
        print("number1 es mayor que number2")
    else:
        print("number1 no es mayor que number2")
else:
    print("number1 no es mayor que number2")

number1 es mayor que number2

In [19]:
# sstructura de datos 
# strings
name = "Gabriela"

In [20]:
type(name)

str

In [21]:
name.capitalize()

'Gabriela'

In [22]:
type(number1)

int

In [23]:
# Listas
name_list = ["Gabriela", "Javier", "Jose", "Luis", "Pedro"]

In [24]:
age_list = [18, 20, 25, 30, 35]

In [29]:
name_list.append("Salcedo")

In [30]:
name_list[4]

'Pedro'

In [31]:
name_list[5]

'Salcedo'

In [32]:
name_list[-1]

'Salcedo'

In [ ]:
# Slice de una lista

# Primer valor incio
# Ultimo valor fin 

name_list[0:3]

['Gabriela', 'Javier', 'Jose']

In [34]:
len(name_list)

6

In [36]:
#  ciclos finitos 
for var in name_list:
    print(var)

Gabriela
Javier
Jose
Luis
Pedro
Salcedo

In [37]:
#  ciclos finitos 
for name in name_list:
    if name == "Gabriela":
        print("Es Gabriela")
        #imprime la posicion de la lista
        print(name_list.index(name))

Es Gabriela
0

In [38]:
# recorrido de un alista por indices
for item in range(4):
    print("hola")

hola
hola
hola
hola

In [39]:
# recorrido de un alista por indices
for item in range(len(name_list)):
    print(item)

0
1
2
3
4
5

In [ ]:
# recorrido de un alista por indices
for item in range(len(name_list)):
    print(name_list[item])== "Salcedo"
        #Imprime la posicion de la lista
    print(name_list[item])
        print(item)

IndentationError: unexpected indent (3443754336.py, line 6)

:

In [44]:
for i in range(3,12):
    print(i)

3
4
5
6
7
8
9
10
11